{% extends "github_analytics/base.html" %}
{% load static %}

{% block content %}
<h2>{{ repo.name }} - Commit Frequency</h2>
<!-- Dropdown to select frequency -->
<form method="get">
    <select name="frequency" onchange="this.form.submit()">
        <option value="Daily" {% if frequency == 'Daily' %}selected{% endif %}>Daily</option>
        <option value="Weekly" {% if frequency == 'Weekly' %}selected{% endif %}>Weekly</option>
        <option value="Monthly" {% if frequency == 'Monthly' %}selected{% endif %}>Monthly</option>
    </select>
</form>
<div id="main" style="width: 100vw; height: 500px;"></div>
<div id="line" style="width: 100vw; height: 500px;"></div>
<!-- Visualization -->
<!-- {{ plot_div|safe }} -->
<script src="/static/echarts.js"></script>
<script src="/static/monent.js"></script>
<script>

    var data = JSON.parse('{{ data|safe }}');
    var frequency = '{{ frequency }}';
    var newData = data.reduce((chain, item) => {
        date = new Date(item.fields.date).getTime();
        title = '';
        if (frequency == 'Monthly') {
            title = moment(date).format('YYYY-MM');
        } else if (frequency == 'Daily') {
            title = moment(date).format('YYYY-MM-DD');
        } else {
            title = moment(date).day(1).format('YYYY-MM-DD');
        }
        if (!chain[title]) {
            chain[title] = [];
        }
        chain[title].push(item);
        return chain;
    }, {});
    console.log(data);
     var myChart = echarts.init(document.getElementById('main'));
     var xAxis = Object.keys(newData).map(item => {
        return {
            key: item,
        title: item
        };
     }).sort((a, b) => {
        return true;
    });
var option = {
  tooltip: {},
  xAxis: [{
    data: xAxis.map(item => item.title)
  }],
  dataZoom: [
    {
      show: true,
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    },
    {
      type: 'inside',
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    }
  ],
  yAxis: {},
  series: [
    {
      type: 'bar',
      data: xAxis.map(item => (newData[item.key].length))
    }
  ]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);


var myChartLine = echarts.init(document.getElementById('line'));
var option = {
  tooltip: {},
  xAxis: [{
    data: xAxis.map(item => item.title)
  }],
  dataZoom: [
    {
      show: true,
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    },
    {
      type: 'inside',
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    }
  ],
  yAxis: {},
  series: [
    {
      type: 'line',
      data: xAxis.map(item => (newData[item.key].length))
    }
  ]
};

// 使用刚指定的配置项和数据显示图表。
myChartLine.setOption(option);
</script>

{% endblock %}